.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
//   position: relative;
//   height: 40vh;
//   width: 50vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   // align-content: center;
//   // align-items: center;
//   padding-top: 30px;
//   border: 2rem, solid, red;

//   // .card {
//   //   z-index: 1000;
//   //   display: flex;
//   //   width: 25vw;
//   //   height: 40vh;
//   //   // border: 3rem, solid, black;
//   //   border-radius: 7px;
//   //   background-size: cover;
//   //   background-position: center;
//   //   box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.3);
//   // }
// }
